<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainView</title>
</head>

<body>
    <h1>Your app is running!</h1>
</body>

</html>